.products_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    gap: 10px;
    padding: 10px;
    
}
.card{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px; 
    box-shadow: rgba(0,0, 0, 0.090)0px 0px 15px 0px;
    position: relative;
}
.card .img {
width: 100%;
height: 250px;
position: relative;
}
.card .img img{
    width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top center;
}
.card .productes_detailes{
    padding: 10px;
    width: 100%;
    transition: 0.5s ease;
    background-color: #fff;
}
.card:hover .productes_detailes{
    transform: translateY(-20px);
}
.productes_detailes .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.brand{
    font-weight: 500;
    font-size: 20px;
 }
.main_price{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0px;
}
.price{
    font-weight: 500;
    color: #575757;
    font-size: 18px;
    text-decoration: line-through;
}
.discountedPrice{
    font-weight: 600;
    font-size: 22px;
    
}
.discouned_prasent{
    
   color: #26a541bb;
   font-size: 15px;
   font-weight: 500;
}
.card .rate{
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    line-height: normal;
    background-color: green;
    color: #fff;
    gap: 7px;
    border-radius: 5PX;
    padding: 2px 4px 2px 6px;


}
