
.carousel{
    width: 98%;
    height: auto;
    margin: 0px auto;
    position: relative;

}
.carousel_card{
    width: 200px;
    height: auto;
    position: relative;
    /* background-color: #d42222 !important; */
    padding: 10px;
  box-shadow: rgab(0,0,0,0.090)0px 0px 16px 0px; 
}
.main h1{
    font-weight: 500;
    font-size: 25px;
    padding-left: 30px;
}

 .carousel_card .image{
    width: 85%;
    height: 240px;
    position: relative;
    
}
 .carousel_card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  

}
.carousel_card img:hover{
    transform: scale(1.1);

}
 
.carousel_card .carousel_details{
    background-color: #fff;
    width: 85%;

    padding: 10px;
}
.carousel_details .brand{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.carousel_details .title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

